*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 300; }

.navbar {
  display: flex;
  padding: 1rem 3rem;
  align-items: center;
  justify-content: space-between; }
  .navbar__logobox {
    display: flex;
    align-items: center; }
  .navbar__logo {
    font-size: 2.5rem;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    margin-right: 2rem;
    font-weight: 400; }
  .navbar__navlink {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-weight: 700; }
    .navbar__navlink:not(:last-child) {
      margin-right: 2rem; }
  .navbar__icon {
    height: 3rem;
    width: 3rem;
    transform: translateY(10px);
    margin-left: 2rem; }
  .navbar__cta-box {
    display: flex;
    align-items: center; }

.btn {
  border: none;
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #d9c6fd;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer; }
