*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 300; }

h1 {
  font-size: 8rem;
  font-weight: 600;
  line-height: 1; }

h3 {
  font-size: 2.5rem; }

.navbar {
  display: flex;
  padding: 1rem 3rem;
  height: 7rem;
  align-items: center;
  justify-content: space-between; }
  .navbar__logobox {
    display: flex;
    align-items: center; }
  .navbar__logo {
    font-size: 2.5rem;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    margin-right: 2rem;
    font-weight: 400; }
  .navbar__navlink {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-weight: 700; }
    .navbar__navlink:not(:last-child) {
      margin-right: 2rem; }
  .navbar__icon {
    height: 3rem;
    width: 3rem;
    transform: translateY(10px);
    margin-left: 2rem; }
  .navbar__cta-box {
    display: flex;
    align-items: center; }

.btn {
  border: none;
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #d9c6fd;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer; }

.header {
  display: grid;
  width: 100%;
  height: calc(100vh - 7rem);
  grid-template-columns: 1fr max-content;
  grid-template-rows: 1fr min-content min-content 1fr;
  padding-left: 30rem;
  padding-right: 20rem;
  grid-row-gap: 3rem;
  grid-column-gap: 5rem; }
  .header__img {
    width: 45vw;
    grid-column: 2 / 3;
    grid-row: 1 / -1; }
  .header__tagline {
    align-self: end; }
  .header__signup {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr max-content;
    grid-column-gap: 2rem; }
  .header__input {
    border: none;
    padding: 1.5rem 2rem;
    border-radius: 10px;
    background-color: #f0f5f9;
    transition: all 0.2s;
    font-size: 1.7rem; }
    .header__input::placeholder {
      color: #777777; }
    .header__input:focus {
      outline: none;
      box-shadow: rgba(0, 0, 0, 0.1) 0 1rem 5rem; }
  .header__disclaimer {
    color: #aaaaaa;
    font-size: 1.7rem; }
    .header__disclaimer a:link,
    .header__disclaimer a:visited {
      color: #888888; }
