.header {
  display: grid;
  width: 100%;
  height: calc(100vh - 7rem);
  grid-template-columns: 1fr max-content;
  grid-template-rows: 1fr min-content min-content 1fr;
  padding-left: 30rem;
  padding-right: 20rem;
  grid-row-gap: 3rem;
  grid-column-gap: 5rem;

  &__img {
    width: 45vw;
    grid-column: 2 / 3;
    grid-row: 1 / -1;
  }

  &__tagline {
    align-self: end;
  }

  &__signup {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr max-content;
    grid-column-gap: 2rem;
  }

  &__input {
    border: none;
    padding: 1.5rem 2rem;
    border-radius: 10px;
    background-color: #f0f5f9;
    transition: all 0.2s;
    font-size: 1.7rem;

    &::placeholder {
      color: #777777;
    }

    &:focus {
      outline: none;
      box-shadow: rgba(0, 0, 0, 0.1) 0 1rem 5rem;
    }
  }

  &__scroll-cue {
    position: absolute;
    width: 2rem;
    height: 3.75rem;
    border-radius: 100px;
    background-color: #eeeeee;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__scroll-wheel {
    width: 0.9rem;
    height: 0.9rem;
    position: relative;
    margin: 0.6rem;
    border-radius: 10px;
    background-color: $color-primary;
    animation: scrollIndicator 1.5s infinite;
  }
}
